.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.full-width-container {
    padding: 0;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    max-width: 100vw;
}


.button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.timestamp-container {
    position: absolute;
    right: 0;
    font-size: 20px;
    width: 10%;
    max-height: 99vh;
    overflow-y: auto;
}

.chunkier-button {
    height: 7vh;
    font-size: x-large;
}

.smoky-background {
    background-color: whitesmoke;
}

.stopwatch-container {
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
}

.stopwatch-container:hover {
    background-color: #007bff;
}

.stopwatch-container::after {
    content: "\1F5D1\FE0F";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    font-size: 4em;
}

.stopwatch-container:hover::after {
    transform: translate(-50%, -50%) scale(1);
}
